body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    font-size: 2em;
    font-weight: bold;
}
